body{
  padding: 0px;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
}

h1{
  font-size: 60px;
}
.orange-color{
  color: orange;
}
section{
  display: flex;
}
.half-width{
  width: 50%;
  padding: 3%;
}
.half-width img{
  width: 80%;
  
}
.link-button{
  text-decoration: none;
  background-image: linear-gradient(tomato,orange);
  padding: 10px 40px;
  color: white;
  font-weight: 600;
  border-radius: 5px;
}
.top-bennar{
  background-image: url("photo/top-banner.png");
  background-repeat: no-repeat;
}
.sec-2
.half img{
  width: 80%;

}
.half{
  width: 50%;
  padding: 2%;
}
.click-resume{
  text-decoration: none;
  font-weight: 600;
  padding: 10px 50px;
 color: white;
 border-radius: 5px;
  background-image: linear-gradient(#faa661,tomato);
}
h2{
  font-weight: 700;
  font-size: 40px;
}